.card{
    background-color: #dddddd;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1rem;
    position: relative;
    width: 500px;
}
h4{
    margin-left: 35px;
}
